# Arquivos gerados pela IDE
/.classpath
/.project
/.settings/
/target/
/bin/
/.mvn/
/*.iml
/.idea/
/.idea/*
/*.ipr
/*.iws

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de compilação
*.class

# Dependências locais
/mvnw
/mvnw.cmd

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Configuração local do sistema operacional
/.vscode/
/*.swp

# Outros arquivos desnecessários
*.war
*.jar
*.ear
