<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administração de Brinquedos</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img th:src="@{/images/logo.png}" alt="Logo">
            </div>
            <div class="header-title">
                <h1>Nome da Loja de Brinquedo</h1>
            </div>
        </header>
        <div class="menu-lateral">
            <h2>MENU PRINCIPAL</h2>
            <ul>
                <li><a th:href="@{/web/home}">Home</a></li>
                <li><a th:href="@{/web/catalogodebrinquedos}">Catálogo de Brinquedos</a></li>
                <li><a th:href="@{/web/administracao}">Administração</a></li>
                <li><a th:href="@{/web/sobre}">Sobre a equipe</a></li>
            </ul>
        </div>
        <main>
            <h2>Administração de Brinquedos</h2>
			<hr>
			<br>
            <table class="brinquedos-tabela">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Controles</th>
                    </tr>
                </thead>
                <tbody th:each="brinquedo : ${brinquedos}">
                    <tr>
						<td th:text="${brinquedo.descricao}">Descrição do Brinquedo</td>
                        <td th:text="${brinquedo.categoria.nome}">Nome da Categoria</td>
                        <td th:text="${'R$ ' + #numbers.formatDecimal(brinquedo.valor, 2, 'POINT', 2, 'COMMA')}">Valor do Brinquedo</td>
                        <td>
                            <a th:href="@{/web/administracao/editar/{id}(id=${brinquedo.id})}">Editar</a> -
                            <a th:href="@{/web/administracao/excluir/{id}(id=${brinquedo.id})}">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="novo-brinquedo">
                <a th:href="@{/web/administracao/novobrinquedo}">Novo Brinquedo</a>
            </div>
        </main>
        <footer class="footer">
            <p>&copy; 2024 Administração de Brinquedos. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>
