<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Catálogo de Brinquedos</title>
	<link rel="stylesheet" th:href="@{/style/style.css}">
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="logo">
				<img th:src="@{/images/imagemlogo.webp}" alt="Logo">
			</div>
			<div class="header-title">
				<h1>Catálogo de Brinquedos</h1>
			</div>
		</header>
		<div class="menu-lateral">
			<h2>MENU PRINCIPAL</h2>
			<ul>
				<li><a th:href="@{/web/home}">Home</a></li>
				<li><a th:href="@{/web/catalogodebrinquedos}">Catálogo de Brinquedos</a></li>
				<li><a th:href="@{/web/administracao/brinquedo}">Administração</a></li>
				<li><a th:href="@{/web/sobre}">Sobre a equipe</a></li>
			</ul>
		</div>
		<main>
			<h2
				th:text="'Catálogo de Brinquedos : : ' + ${brinquedo.categoria.nome} + ' : : ' + ${brinquedo.descricao}">
				Catálogo de Brinquedos :: nome da categoria :: nome do brinquedo
			</h2>
			<hr>
			<br>
			<div class="brinquedo-detalhe">
				<div class="brinquedo-imagem">
					<picture>
						<source type="image/webp" th:srcset="@{/images/} + ${brinquedo.imagem}">
						<img th:src="@{/images/} + ${brinquedo.imagem}" th:alt="${'Brinquedo ' + brinquedo.id}">
					</picture>
				</div>
				<div class="brinquedo-info">
					<p th:text="'Código do Brinquedo: ' + ${brinquedo.id}">Código do Brinquedo</p>
					<h3 th:text="${brinquedo.descricao}">Descrição do Brinquedo</h3>
					<p th:text="${'R$ ' + #numbers.formatDecimal(brinquedo.valor, 2, 'POINT', 2, 'COMMA')}">R$ #####,##
					</p>
				</div>
			</div>
			<div class="brinquedo-detalhes">
				<h4>Detalhes sobre o brinquedo:</h4>
				<p th:text="${brinquedo.detalhes}">Aqui vão os detalhes do brinquedo...</p>
			</div>
		</main>
		<footer class="footer">
			<p>&copy; 2024 Catálogo de Brinquedos. Todos os direitos reservados.</p>
		</footer>
	</div>
</body>

</html>