<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Catálogo de Brinquedos</title>
	<link rel="stylesheet" th:href="@{/style/style.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="logo">
				<img th:src="@{/images/imagemlogo.webp}" alt="Logo">
			</div>
			<div class="header-title">
				<h1>Catálogo de Brinquedos</h1>
			</div>
		</header>
		<div class="menu-lateral">
			<h2>MENU PRINCIPAL</h2>
			<ul>
				<li><a th:href="@{/web/home}">Home</a></li>
				<li><a th:href="@{/web/catalogodebrinquedos}">Catálogo de Brinquedos</a></li>
				<li><a th:href="@{/web/administracao/brinquedos}">Administração</a></li>
				<li><a th:href="@{/web/sobre}">Sobre a equipe</a></li>
			</ul>
		</div>
		<main>
			<h2>Catálogo de Brinquedos : : <span th:text="${novo} ? 'Novo Brinquedo' : 'Editar Brinquedo'"></span></h2>
			<hr>
			<br>
			<form th:action="@{/web/administracao/brinquedos/novobrinquedo}" th:object="${brinquedo}" method="post"
				enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="codigo">CÓDIGO:</label>
					<input type="text" id="codigo" th:field="*{id}" disabled>
				</div>
				<div class="form-group">
					<label for="descricao">DESCRIÇÃO:</label>
					<input type="text" id="descricao" th:field="*{descricao}" required
						placeholder="Insira a descrição do brinquedo"
						title="Descrição é obrigatória e deve ser preenchida.">
				</div>
				<div class="form-group">
					<label for="categoria">CATEGORIA:</label>
					<select id="categoria" th:field="*{categoriaId}" required
						title="Selecione uma categoria para o brinquedo.">
						<option value="" hidden>Selecione uma categoria</option>
						<option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}">
					</select>
				</div>
				<div class="form-group">
					<label for="marca">MARCA:</label>
					<input type="text" id="marca" th:field="*{marca}" required placeholder="Insira a marca do brinquedo"
						title="Marca é obrigatória e deve ser preenchida.">
				</div>
				<div class="form-group">
					<label for="imagem">IMAGEM:</label>
					<input type="file" id="imagem" th:field="*{imagem}" accept="image/*"
						title="Escolha uma imagem para o brinquedo.">
				</div>
				<div class="form-group-message" th:if="${!novo}">
					<h5>Selecione uma nova imagem ou deixe em branco para manter a mesma.</h5>
				</div>
				<div class="form-group">
					<label for="valor">VALOR:</label>
					<input type="number" step="0.01" id="valor" th:field="*{valor}" required
						placeholder="Insira o valor do brinquedo"
						title="O valor do brinquedo deve ser preenchido e maior que zero.">
				</div>
				<div class="form-group">
					<label for="detalhes">DETALHES:</label>
					<textarea id="detalhes" th:field="*{detalhes}" required
						placeholder="Escreva aqui os detalhes do brinquedo..."
						title="Detalhes é obrigatório e deve ser preenchida.">
                    </textarea>
				</div>
				<div class="form-group botao-salvar">
					<button type="submit">SALVAR DADOS</button>
				</div>
			</form>
		</main>
		<footer class="footer">
			<p>&copy; 2024 Catálogo de Brinquedos. Todos os direitos reservados.</p>
		</footer>
	</div>
</body>

</html>