<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Catálogo de Brinquedos</title>
	<link rel="stylesheet" th:href="@{/style/style.css}">
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="logo">
				<img th:src="@{/images/imagemlogo.webp}" alt="Logo">
			</div>
			<div class="header-title">
				<h1>Catálogo de Brinquedos</h1>
			</div>
		</header>
		<div class="menu-lateral">
			<h2>MENU PRINCIPAL</h2>
			<ul>
				<li><a th:href="@{/web/home}">Home</a></li>
				<li><a th:href="@{/web/catalogodebrinquedos}">Catálogo de Brinquedos</a></li>
				<li><a th:href="@{/web/administracao/brinquedos}">Administração</a></li>
				<li><a th:href="@{/web/sobre}">Sobre a equipe</a></li>
			</ul>
		</div>
		<main>
			<h2>Catálogo de Brinquedos : : <span th:text="${novo} ? 'Novo Brinquedo' : 'Editar Brinquedo'"></span></h2>
			<hr>
			<br>
			<form th:action="@{/web/administracao/brinquedos/novobrinquedo}" th:object="${brinquedo}" method="post"
				enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}">

				<!-- Campo para o código do brinquedo -->
				<div class="form-group">
					<label for="codigo">CÓDIGO:</label>
					<input type="text" id="codigo" th:field="*{id}" disabled>
				</div>

				<!-- Campo obrigatório para a descrição do brinquedo -->
				<div class="form-group">
					<label for="descricao">DESCRIÇÃO:</label>
					<input type="text" id="descricao" th:field="*{descricao}" required
						placeholder="Insira a descrição do brinquedo"
						title="Descrição é obrigatória e deve ser preenchida.">
					<!-- Exibe erro de validação para descrição -->
					<div th:if="${#fields.hasErrors('descricao')}" class="error-message">
						<p th:errors="*{descricao}">Erro na descrição</p>
					</div>
				</div>

				<!-- Campo obrigatório para a seleção da categoria do brinquedo -->
				<div class="form-group">
					<label for="categoria">CATEGORIA:</label>
					<select id="categoria" th:field="*{categoriaId}" required
						title="Selecione uma categoria para o brinquedo.">
						<option value="" hidden>Selecione uma categoria</option>
						<option th:each="categoria : ${categorias}" th:value="${categoria.id}"
							th:text="${categoria.nome}" th:selected="${categoria.id == categoriaId}">
						</option>
					</select>
					<!-- Exibe erro de validação para categoria -->
					<div th:if="${#fields.hasErrors('categoriaId')}" class="error-message">
						<p th:errors="*{categoriaId}">Erro na categoria</p>
					</div>
				</div>

				<!-- Campo obrigatório para a marca do brinquedo -->
				<div class="form-group">
					<label for="marca">MARCA:</label>
					<input type="text" id="marca" th:field="*{marca}" required placeholder="Insira a marca do brinquedo"
						title="Marca é obrigatória e deve ser preenchida.">
					<!-- Exibe erro de validação para marca -->
					<div th:if="${#fields.hasErrors('marca')}" class="error-message">
						<p th:errors="*{marca}">Erro na marca</p>
					</div>
				</div>

				<!-- Campo opcional para a imagem do brinquedo -->
				<div class="form-group">
					<label for="imagem">IMAGEM:</label>
					<input type="file" id="imagem" th:field="*{imagem}" accept="image/*"
						title="Escolha uma imagem para o brinquedo.">
					<!-- Exibe erro de validação para imagem -->
					<div th:if="${#fields.hasErrors('imagem')}" class="error-message">
						<p th:errors="*{imagem}">Erro na imagem</p>
					</div>
				</div>
				<div class="form-group-message" th:if="${!novo}">
				    <h5>Selecione uma nova imagem ou deixe em branco para manter a mesma.</h5>
				</div>

				<!-- Campo obrigatório para o valor do brinquedo -->
				<div class="form-group">
					<label for="valor">VALOR:</label>
					<input type="number" step="0.01" id="valor" th:field="*{valor}" required
						placeholder="Insira o valor do brinquedo"
						title="O valor do brinquedo deve ser preenchido e maior que zero.">
					<!-- Exibe erro de validação para valor -->
					<div th:if="${#fields.hasErrors('valor')}" class="error-message">
						<p th:errors="*{valor}">Erro no valor</p>
					</div>
				</div>

				<!-- Campo obrigatório para detalhes adicionais sobre o brinquedo -->
				<div class="form-group">
					<label for="detalhes">DETALHES:</label>
					<textarea id="detalhes" th:field="*{detalhes}" required
						placeholder="Escreva aqui os detalhes do brinquedo..."
						title="Detalhes é obrigatório e deve ser preenchida.">
                    </textarea>
					<!-- Exibe erro de validação para detalhes -->
					<div th:if="${#fields.hasErrors('detalhes')}" class="error-message">
						<p th:errors="*{detalhes}">Erro nos detalhes</p>
					</div>
				</div>

				<!-- Botão para salvar os dados do brinquedo -->
				<div class="form-group botao-salvar">
					<button type="submit">SALVAR DADOS</button>
				</div>
			</form>
		</main>
		<footer class="footer">
			<p>&copy; 2024 Catálogo de Brinquedos. Todos os direitos reservados.</p>
		</footer>
	</div>
</body>

</html>