<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Catálogo de Brinquedos</title>
	<link rel="stylesheet" th:href="@{/style/style.css}" />
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="logo">
				<img th:src="@{/images/imagemlogo.webp}" alt="Logo">
			</div>
			<div class="header-title">
				<h1>Catálogo de Brinquedos</h1>
			</div>
		</header>
		<div class="menu-lateral">
			<h2>MENU PRINCIPAL</h2>
			<ul>
				<li><a th:href="@{/web/home}">Home</a></li>
				<li><a th:href="@{/web/catalogodebrinquedos}">Catálogo de Brinquedos</a></li>
				<li><a th:href="@{/web/administracao}">Administração</a></li>
				<li><a th:href="@{/web/sobre}">Sobre a equipe</a></li>
			</ul>
		</div>
		<main>
			<h2>Catálogo de Brinquedos : : Categorias</h2>
			<hr>
			<br>
			<div class="categorias-destaque">
				<div class="categoria" th:each="categoria : ${categorias}">
					<a th:href="@{/web/catalogodebrinquedos/categoria/{id}(id=${categoria.id})}">
						<picture>
							<source type="image/webp" th:srcset="@{/images/} + ${categoria.imagem}">
							<img th:src="@{/images/} + ${categoria.imagem}" th:alt="${'Categoria ' + categoria.id}">
						</picture>
						<h3 th:text="${categoria.nome}">Categoria</h3>
					</a>
				</div>
			</div>
		</main>
		<footer class="footer">
			<p>© 2024 Catálogo de Brinquedos. Todos os direitos reservados.</p>
		</footer>
	</div>
</body>

</html>